@page
@model SurveySite.Pages.AnswerPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Answer details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer.AnswerString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answer.AnswerString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer.Question.QuestionString)
        </dt>
        @if (Model.Answer.Question != null)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Answer.Question.QuestionString)
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Answer doesn't have a question
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Answer.Id">Edit answer</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Answer.Id">Delete answer</a> |
    <a asp-page="./Index">Back to answer list</a> |
    @if (Model.Answer.Question != null)
    {
        <a asp-page="/QuestionPages/Details" asp-route-id="@Model.Answer.Question.Id">To question that the answer belongs to</a>
    }
</div>
