@page
@model SurveySite.Pages.AnswerPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New answer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].AnswerString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Answer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerString)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit answer</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Answer details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete answer</a>
            </td>
        </tr>
}
    </tbody>
</table>
