@page
@model SurveySite.Pages.QuestionPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuestionString" class="control-label"></label>
                <input asp-for="Question.QuestionString" class="form-control" />
                <span asp-validation-for="Question.QuestionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select asp-for="Question.QuestionType" class="form-control">
                    <option value="">Select a type</option>
                    <option value="Text">Text</option>
                    <option value="Radio">Radio</option>
                    <option value="MultipleChoice">Multiple Choice</option>
                </select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyId" class="control-label">Add question to existing survey?</label>
                <select asp-for="SurveyId" class="form-control">
                    <option value="">No</option>
                    @foreach (var survey in Model.Surveys)
	                {
                        <option value="@survey.Id">@survey.SurveyName</option>
	                }
                </select>
                <span asp-validation-for="SurveyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NumberOfAnswers" class="control-label"></label>
                <input type="number" asp-for="@Model.NumberOfAnswers" class="form-control">
                <span asp-validation-for="@Model.NumberOfAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to question list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
