@page
@model SurveySite.Pages.QuestionPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Question list</h1>

<p>
    <a asp-page="Create">Create new question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].QuestionString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].QuestionType)
            </th>
            <th>
                Nr. of answers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit question</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Question details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete question</a>
            </td>
        </tr>
}
    </tbody>
</table>
