@page
@model SurveySite.Pages.QuestionPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Question list</h1>

<p>
    <a asp-page="Create">Create new question</a>
</p>
@if (Model.Questions.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions[0].QuestionString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions[0].QuestionType)
            </th>
            <th>
                Nr. of answers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var question in Model.Questions)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => question.QuestionString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => question.QuestionType)
            </td>
            @if (question.QuestionType == Models.QuestionType.Text)
            {
                <td>
                    Text questions have no stored answers
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => question.Answers.Count) 
                </td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@question.Id">Edit question</a> |
                <a asp-page="./Details" asp-route-id="@question.Id">Question details</a> |
                <a asp-page="./Delete" asp-route-id="@question.Id">Delete question</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <p>
        No available questions
    </p>
}
