@page
@model SurveySite.Pages.QuestionPages.CompleteSurveyModel

@{
    ViewData["Title"] = "SurveyFinished";
}

<h1>Complete survey details</h1>

<div>
    <hr />
    <h2>
        @Html.DisplayNameFor(model => model.Survey.SurveyName) : @Html.DisplayFor(model => model.Survey.SurveyName)
    </h2>
    <hr />
    @foreach (var question in Model.Survey.Questions)
    {
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => question.QuestionString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => question.QuestionString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => question.QuestionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => question.QuestionType)
        </dd>
        <dt>
            <a asp-page="/QuestionPages/Edit" asp-route-id="@question.Id">Edit question</a> |
            <a asp-page="/QuestionPages/Details" asp-route-id="@question.Id">Question details</a> |
            <a asp-page="/QuestionPages/Delete" asp-route-id="@question.Id">Delete question</a>
        </dt>
    </dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => question.Answers[0].AnswerString)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in question.Answers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerString)
                        </td>
                        <td>
                            <a asp-page="/AnswerPages/Edit" asp-route-id="@item.Id">Edit answer</a> |
                            <a asp-page="/AnswerPages/Details" asp-route-id="@item.Id">Answer Details</a> |
                            <a asp-page="/AnswerPages/Delete" asp-route-id="@item.Id">Delete Answer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Survey.Id">Edit survey name</a> |
    <a asp-page="./Index">Back tosurvey list</a>
</div>
