@page
@model SurveySite.Pages.SurveyPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Survey details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.SurveyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Survey.SurveyName)
        </dd>
    </dl>
    @if (Model.Survey.Questions.Count > 0)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Survey.Questions[0].QuestionString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Survey.Questions[0].QuestionType)
                </th>
                <th>
                    Nr. of answers
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Survey.Questions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => question.QuestionString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => question.QuestionType)
                </td>
                @if (question.QuestionType == Models.QuestionType.Text)
                {
                    <td>
                        Text questions have no stored answers
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => question.Answers.Count)
                    </td>
                }
                <td>
                    <a asp-page="/QuestionPages/Edit" asp-route-id="@question.Id">Edit question</a> |
                    <a asp-page="/QuestionPages/Details" asp-route-id="@question.Id">Question details</a> |
                    <a asp-page="/QuestionPages/Delete" asp-route-id="@question.Id">Delete question</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <p>
            No questions in survey
        </p>
    }
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Survey.Id">Edit survey name</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Survey.Id">Delete survey</a> |
    <a asp-page="./CompleteSurvey" asp-route-surveyId="@Model.Survey.Id">Complete survey details</a> |
    <a asp-page="/Index">Back to survey List</a>
</div>
