@page
@model SurveySite.Pages.SurveyPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Survey details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.SurveyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Survey.SurveyName)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Survey.Questions[0].QuestionString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Survey.Questions[0].QuestionType)
                </th>
                <th>
                    Nr. of answers
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Survey.Questions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answers.Count)
                </td>
                <td>
                    <a asp-page="/QuestionPages/Edit" asp-route-id="@item.Id">Edit question</a> |
                    <a asp-page="/QuestionPages/Details" asp-route-id="@item.Id">Question details</a> |
                    <a asp-page="/QuestionPages/Delete" asp-route-id="@item.Id">Delete question</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Survey.Id">Edit survey name</a> |
    <a asp-page="./Index">Back to survey List</a>
</div>
