@page
@model SurveySite.Pages.SurveyPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Survey list</h1>

<a asp-page="Create">Create</a>

<br />

<form method="post">
    <button asp-page-handler="SeedDataBase">Clear and seed database</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surveys[0].SurveyName)
            </th>
            <th>
                Nr. of Questions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Surveys) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit survey name</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">More details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./CompleteSurvey" asp-route-surveyId="@item.Id">Complete survey details</a>
            </td>
        </tr>
}
    </tbody>
</table>
